*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000;
    overflow-y: hidden;
}

section{
    display: flex;
    margin: 0px auto;
    position: relative;
    border: solid 1px #414141;
}

button{
    all: unset;
    padding: 2px 5px;
    cursor: pointer;
}

#game-canvas{
    background-color: #141d1f;
}

#active-canvas{
    position: absolute;
    background-image: none;
    top: 0;
    left: 0;
}

.controller{
    border-left: solid 1px #414141;
    max-width: 500px;
    background-color: #2e2e2e;
    padding: 10px;
    color: white;
    position: relative;
    height: 100vh;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

/* ***************** 시작 할 때 *************** */
.controller .starter{
    position: absolute;
    width: 100%;
    height: 100%;
    border: solid 1px blueviolet;
    top: 0;
    left: 0;
    background-color: #2e2e2e;
    z-index: 20;
}
.controller .starter button{
    position: relative;
    font-size: 22px;
    font-weight: bold;
    top: 50%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, -50%);
    border: solid 1px blueviolet;
    border-radius: 12px;
}
.controller .starter button:hover{
    background-color: blueviolet;
    color: white;
}
/* ********************************************** */
.controller h1{
    display: flex;
    align-items: center;
}

.controller h1 .setting-box{
    margin-left: auto;
    display: flex;
    gap: 15px;
}

.controller h1 button{
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
    filter: invert(0.9) opacity(0.5) drop-shadow(0 0 0 blueviolet);
}

.controller h1 button:hover{
    filter: invert(1);
    
}

.controller h1 .play.on{
    background-image: url(./public/play-buttton.png);
}
.controller h1 .play.off{
    background-image: url(./public/pause.png);
}

.controller h1 .music.on{
    background-image: url(./public/musical-note.png);
}
.controller h1 .music.off{
    background-image: url(./public/mute.png);
}
.controller h1 .setting{
    background-image: url(./public/setting.png);
}

.tab-box{
    display: flex;
    gap: 10px;
    max-height: 50px;
}
.tab-box button{
    display: flex;
    justify-content: center;
    border: solid 1px blueviolet;
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
}
.tab-box button:hover{
    background-color: rgb(185, 120, 246);
}
.tab-box .selected{
    background-color: blueviolet;
}

.status{
    border: solid 1px blueviolet;
    border-radius: 8px;
}

.info {
    overflow: scroll;
}

.info .card{
    box-sizing: border-box;
    border: solid 1px blueviolet;
    padding: 10px 15px;
    border-radius: 8px;
    min-width: 200px;
    width: 100%;
    margin-bottom: 10px;
}

.info .card h3{
    padding-bottom: 15px;
}

.info .card p{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.info .card p:nth-last-child(1){
    padding-bottom: 0;
}

.info .card p span{
    padding-left: 10px;
    color: gold;
    font-weight: bold;
}

.info .card p button{
    margin-left: auto;
    width: 20px;
    height: 20px;
}

.info .card p button img{
    filter: invert(1);
}

.info .card p button:disabled img{
    filter: invert(.6);
}

.info .card.inventory button:disabled{
    opacity: 0.5;
}

img{
    width: 100%;
    height: 100%;
}